.footerStyle {
  text-align: "center";
  background-color: slategray;
  color: white;
  flex-shrink: 0;
  /* margin-top: auto; */
  padding: 20px;
  position: relative;
  top: 50vh;
  height: 50px;
  /* clear: both; */
  /* font-family: "worker, sans-serif"; */
  font-weight: 200;
  font-size: 2vw;
}
