.nav {
  background-color: slategray;
  color: white;
}
a {
  color: white;
}

.avatar-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.main-title {
  text-align: center;
}
